@use "sass:map";
@use "sass:meta";

@use "../functions" as fn;

@mixin fully-constrained-dimension($dimension, $value) {
  #{$dimension}: $value;
  min-#{$dimension}: $value;
  max-#{$dimension}: $value;
}

@mixin border-radius($value, $sides: null) {
  @if $sides {
    @each $side in $sides {
      border-#{$side}-radius: $value;
      -o-border-#{$side}-radius: $value;
      -moz-border-#{$side}-radius: $value;
      -webkit-border-#{$side}-radius: $value;
    }
  } @else {
    border-radius: $value;
    -o-border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
  }
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

@mixin mapped-properties($map, $strict: false) {
  @each $k in map.keys($map) {
    @if map.get($map, $k) {
      #{meta.inspect($k)}: meta.inspect(fn.mapget($map, $k));
    } @else if $strict {
      @error "The property #{$k} is nullish!";
    }
  }
}
