@use "partials";

$button-locked-class: ".button--locked";
$button-loading-class: ".button--loading";
$button-active-class: ".button--active";

@mixin button-hovered {
  @include partials.hovered {
    @include partials.without-selectors(($button-loading-class, $button-locked-class)) {
      &:not(:disabled) {
        @content;
      }
    }
  }
}

@mixin button-focused {
  @include partials.focused {
    @include partials.without-selectors(($button-loading-class, $button-locked-class)) {
      &:not(:disabled) {
        @content;
      }
    }
  }
}

@mixin button-locked-or-loading {
  @include partials.with-selectors(($button-locked-class, $button-loading-class)) {
    pointer-events: none;
  }
}

@mixin button-active() {
  @include partials.with-selectors(($button-active-class)) {
    &:not(:disabled) {
      @content;
    }
  }
}
