@use "partials";

@use "./header";
@use "./layout";
@use "./layout-nav";
@use "./toast";

.root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  @include partials.fully-constrained-dimension(height, 100vh);
  @include partials.fully-constrained-dimension(width, 100vw);
}
