@use "partials";

@use "./constants" as constants;

.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;

  @include partials.fully-constrained-dimension(height, 100%);
  @include partials.fully-constrained-dimension(width, 100%);

  > .layout__content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    @include partials.fully-constrained-dimension(width, 100%);
    @include partials.fully-constrained-dimension(height, calc(100% - constants.$header-height));

    > .content {
      @include partials.fully-constrained-dimension(height, 100%);
      flex-grow: 100;
      max-width: calc(100% - constants.$layout-nav-width);
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;
      padding: 15px;

      > *:not(.Toastify) {
        max-height: 100%;
        height: 100%;
      }
    }

    &.layout__content--with-drawer {
      > .content {
        max-width: calc(100% - constants.$layout-nav-width - constants.$drawer-width);
      }
    }
  }
}
