@use "./constants" as constants;

.layout-nav {
  border-right: 1px solid theme("colors.border");
  width: constants.$layout-nav-width;
  display: flex;
  flex-direction: column;
  padding: 6px;
  background: linear-gradient(to bottom, transparent, theme("colors.gray.100"))
    theme("colors.gray.50");
}
