@use "./constants" as constants;
@use "./mixins" as mixins;

.layout {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;

  @include mixins.fully-constrained-dimension(height, 100%);
  @include mixins.fully-constrained-dimension(width, 100%);

  > .layout__root {
    @include mixins.fully-constrained-dimension(
      width,
      calc(100% - constants.$side-nav-closed-width)
    );
    @include mixins.fully-constrained-dimension(height, 100%);
    position: absolute;
    left: constants.$side-nav-closed-width;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 15px;

    > .layout__content {
      @include mixins.fully-constrained-dimension(width, 100%);
      @include mixins.fully-constrained-dimension(height, 100%);
      position: relative;
      overflow-x: hidden;
      overflow-y: hidden;

      // > * {
      //   max-height: 100%;
      //   height: 100%;
      // }
    }
  }
}
