@use "partials";
@use "./constants" as constants;

.side-nav {
  box-shadow: theme("boxShadow.lg");
  position: relative;
  overflow: hidden;
  background-color: theme("colors.white");
  overflow-y: hidden;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  display: flex;
  flex-direction: column;
  z-index: 1000;

  &:not(.side-nav--open) {
    width: constants.$side-nav-closed-width;
  }

  &--open {
    width: constants.$side-nav-open-width;
  }

  > .nav-link-groups {
    display: flex;
    flex-direction: column;
    gap: theme("spacing.4");
    flex-grow: 100;
    padding-top: theme("spacing.2");
    padding-bottom: theme("spacing.2");

    > .nav-link-group {
      display: flex;
      flex-direction: column;

      > .nav-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: constants.$side-nav-link-height;
        padding-right: theme("spacing.4");
        pointer-events: all;
        cursor: pointer;
        width: 100%;

        @include partials.hovered {
          &:not(.nav-link--active) {
            background-color: theme("colors.gray.50");
          }
        }

        > .nav-link__left {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-grow: 100;

          > .nav-link__icon-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: constants.$side-nav-closed-width;
            min-width: constants.$side-nav-closed-width;

            > .icon {
              height: 24px;
              width: auto;
              aspect-ratio: 1;
              color: rgba(0, 0, 0, 0.6);
            }
          }

          > .nav-link__text {
            color: rgba(0, 0, 0, 0.8);
            font-size: theme("fontSize.smplus.0");
            text-overflow: clip;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        &.nav-link--active {
          background-color: theme("colors.gray.100");

          > .nav-link__left {
            > .nav-link__icon-wrapper {
              > .icon {
                color: theme("colors.primary");
              }
            }
          }
        }
      }
    }
  }
}
