@use "partials";

.dialog__overlay {
  background: rgba(0, 0, 0, 0.1);
  display: grid;
  place-items: center;

  .dialog {
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: theme("colors.white");
    // Removes accessibility outline applied by the browser - this reduces accessibility but looks
    // a lot better.
    outline: none !important;
    padding: 16px;
    @include partials.border-radius(theme("borderRadius.md"));
    box-shadow: theme("boxShadow.md");
    overflow: hidden;
    max-height: 90vh;
    position: relative;
    max-width: 90vw;

    .dialog__close-button {
      position: absolute;
      z-index: 100;
      top: 16px;
      right: 12px;
    }

    > .dialog__content {
      overflow-y: auto;
      flex-grow: 100;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
