@use "./buttons" as buttons;

$paginator-button-identifiers: (
  type: "button",
  variant: "solid",
  scheme: "secondary",
);

.paginator {
  width: 100%;

  .mantine-Group-root {
    display: flex;
    flex-direction: row;
    gap: 6px;
    width: 100%;

    > button {
      @include buttons.button-base();
      @include buttons.button-size("button", "small");
      @include buttons.button-color($paginator-button-identifiers);

      &[data-active="true"] {
        @include buttons.button-color-properties($paginator-button-identifiers, $state: "active");
      }
    }

    > button:first-child {
      margin-right: auto;
    }

    > button:last-child {
      margin-left: auto;
    }
  }
}
