@use "sass:color";
@use "sass:map";

@use "partials";

@use "./constants" as constants;
@use "./mixins" as mixins;

$input-variants: ("primary");
$input-default-variant: "primary";

$input-variant-properties: (
  "primary": (
    background-color: theme("colors.white"),
    outline-color: theme("colors.border"),
    color: theme("colors.body"),
    caret-color: theme("colors.body"),
    placeholder-color: theme("colors.placeholder"),
    outline-thickness: 1px,
    icon-color: theme("colors.body"),
    hovered: (
      outline-color: theme("colors.primary"),
    ),
    disabled: (
      color: theme("colors.disabled"),
      placeholder-color: theme("colors.disabled"),
      outline-color: theme("colors.disabled-border"),
    ),
    focused: (
      outline-color: theme("colors.primary"),
      outline-thickness: 2px,
      icon-color: theme("colors.primary"),
    ),
    active: (
      outline-color: theme("colors.primary"),
      icon-color: theme("colors.primary"),
      outline-thickness: 2px,
    ),
  ),
);

@function get-input-property($variant, $property, $state: null, $fallback: null) {
  $properties: map.get($input-variant-properties, $variant);

  @if $property ==
    "disabled" or
    $property ==
    "focused" or
    $property ==
    "active" or
    $property ==
    "hovered"
  {
    @error "The property cannot be a state.";
  }

  $value: map.get($properties, $property);
  @if not $state {
    @return if($value, $value, $fallback);
  }
  $value: if(
    map.has-key($properties, $state) and map.has-key(map.get($properties, $state), $property),
    map.get($properties, $state, $property),
    $value
  );
  @return if($value, $value, $fallback);
}

@mixin input-variant-state($variant, $state: null) {
  $color: get-input-property($variant, color, $state: $state);
  @if not $color {
    @error "The 'color' field must be defined in the variant map.";
  }

  background-color: get-input-property(
    $variant,
    background-color,
    $state: $state,
    $fallback: theme("colors.white")
  );
  color: $color;
  caret-color: get-input-property($variant, caret-color, $state: $state, $fallback: $color);

  $outline-thickness: get-input-property(
    $variant,
    outline-thickness,
    $state: $state,
    $fallback: 1px
  );
  outline-offset: -$outline-thickness;

  $outline-color: get-input-property($variant, outline-color, $state: $state);
  @if $outline-color {
    outline: $outline-thickness solid $outline-color;
  }

  &::placeholder {
    color: get-input-property($variant, placeholder-color, $state: $state, $fallback: $color);
  }

  .placeholder {
    color: get-input-property($variant, placeholder-color, $state: $state);
  }

  $icon-color: get-input-property($variant, icon-color, $state: $state, $fallback: $color);
  @if $icon-color {
    > .icon {
      color: $icon-color;
    }
  }
}

@mixin input-variant($variant) {
  @include input-variant-state($variant);

  @include partials.disabled {
    @include input-variant-state($variant, $state: "disabled");
  }

  @include mixins.input-hovered {
    @include input-variant-state($variant, $state: "hovered");
  }

  @include mixins.input-focused {
    @include input-variant-state($variant, $state: "focused");
  }

  @include mixins.input-focused-within {
    @include input-variant-state($variant, $state: "focused");
  }

  @include mixins.input-active {
    @include input-variant-state($variant, $state: "active");
  }
}

@mixin input-variants() {
  @include input-variant($input-default-variant);

  @each $variant in $input-variants {
    &--variant-#{$variant} {
      @include input-variant($variant);
    }
  }
}
