$icon-fit-names: ("square", "fit");
$icon-size-dimensions: ("width", "height");
$icon-size-names: ("xxs", "xs", "sm", "md", "lg", "xl", "fill");

$default-icon-size: "sm";
$default-icon-size-fit: "square";
$default-icon-size-dimension: "height";
