@use "partials";

@use "./base" as *;
@use "./constants" as constants;
@use "./mixins" as mixins;

@mixin text-base() {
  @include mixins.font("body", constants.get-default-size("body"));
}

html,
body {
  @include typography-base();
  @include text-base();
}

p {
  @include typography-base();

  em,
  b {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
}

p:not(.text-inherit) {
  @include text-base();
}

.text {
  @include typography-base();
}

span.text,
div.text.text--inherit,
p.text.text--inherit {
  @include mixins.inherit-font-properties();

  @include mixins.with-font-weights();
  @include mixins.with-text-transforms();
  @include mixins.with-font-families();
  @include mixins.with-fonts("body");
}

div.text:not(.text--inherit),
p.text:not(.text--inherit) {
  @include text-base();

  @include mixins.with-font-weights();
  @include mixins.with-text-transforms();
  @include mixins.with-font-families();
  @include mixins.with-fonts("body");
}
