@use "sass:map";
@use "partials";

@use "./base" as *;
@use "./mixins" as mixins;

@mixin title-base() {
  @include mixins.with-font-transforms();

  /* The combination of font-size and line-height will be determined primarily by the heading
     tag (e.g. "h1", "h2", etc).  But, if attributed with a 'font-size-<size>' class, the font-size
     and line-height can be overridden. */
  @include mixins.with-fonts("title");

  /* The font-weight will be determined primarily by the heading tag (e.g. "h1", "h2", etc).  But,
     if attributed with a 'font-weight-<weight>' class, the font-weight can be overridden. */
  @include mixins.with-font-weights();
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include typography-base();
  @include mixins.default-font-color("title");
  @include mixins.font-family("title");

  em,
  b {
    font-family: inherit;
    font-style: inherit;
    font-weight: inherit;
  }
}

h1 {
  @include mixins.font("title", $size: "xl");
  @include title-base();
}

h2 {
  @include mixins.font("title", $size: "lg");
  @include title-base();
}

h3 {
  @include mixins.font("title", $size: "md");
  @include title-base();
}

h4 {
  @include mixins.font("title", $size: "smplus");
  @include title-base();
}

h5 {
  @include mixins.font("title", $size: "sm");
  @include title-base();
}

h6 {
  @include mixins.font("title", $size: "xs");
  @include title-base();
}
